.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  font-family: monospace;

  .digit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 48px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .separator {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  @media (width < 768px) {
    gap: 1px;
    .digit {
      width: 26px;
      height: 30px;
    }
  }
}
