.mis_cursos {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;






  /* .text_title {
    font-size: 1rem;
  } */

  .list_card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2rem;
  }
}
