@import "./colores.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;

  @media (width < 768px) {
    font-size: 15px;
  }
}

/* theme light de sistema */
:root {
   --background-theme: #170e2f;
    --background-linear-1: #000;
    --background-linear-2: #02311d;

    --base: #cfcfcf;
    --base_text: #212121;

    --text: #cfcfcf;
 
}



body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}
